# CakePHP 3

vendor/*
config/app.php
config/datasources.php
config/datasources_dev.php
config/paths.php
config/Migrations/*.lock

tmp/cache/*
tmp/bake/*
!tmp/cache/models/empty
!tmp/cache/persistent/empty
!tmp/cache/views/empty
!tmp/sessions/empty
!tmp/tests/empty

logs/*
!logs/empty
webroot/to_transfer_files/*

.idea/*
tmp/debug_kit.sqlite
composer.lock
tmp/cache/myapp_cake_routes_route_collection

plugins/SetupPlugins
.history

src/Controller/Component/AwsComponent.php
tmp_files/*
